<h1 >Add Meeting</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form [formGroup]="meetingForm" (ngSubmit)="onAddMeeting()">
                <div class="form-group">
                    <label>ID Meeting</label>
                    <input type="number"  formControlName="idMeet" class="form-control">
                </div>
                <div class="form-group">
                    <label>Titre :</label>
                    <input type="text"  formControlName="titre" class="form-control">
                </div>
                <div class="form-group">
                    <label>Lieu :</label>
                    <input type="text"  formControlName="lieu" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date Debut :</label>
                    <input type="date"  formControlName="dateDeb" class="form-control">
                </div>
                <div class="form-group">
                    <label>Date Fin :</label>
                    <input type="date"  formControlName="dateFin" class="form-control">


                </div>
                <div>
                    <input type="submit" class="btn btn-primary " value="Valider">
                </div>
            </form>

        </div>
    </div>
</div>
