<div class="container" > 
    <div class="row">
        <div class="col-md-8">
            <form   >
                <div class="form-group">
                <label >ID Meeting</label>
                <input type="number"   name="idMeet" class="form-control" #idMeet>
                </div>
                <div class="form-group">
                <label>Titre :</label>
                <input type="text"   name="titre" class="form-control" #titre>
                </div>
                <div class="form-group">
                <label>Lieu :</label>
                <input type="text"   name="lieu" class="form-control" #lieu>
                </div>
                <div class="form-group">
                <label>Date Debut :</label>
                <input type="date"  name="dateDeb" class="form-control" #dateDeb>
                </div>
                <div class="form-group">
                <label>Date Fin :</label>
                <input type="date"  name="dateFin" class="form-control" #dateFin>

                </div>
                <div>
                <input type="button" class="btn btn-primary " value="Valider" (click)="addMeeting(idMeet,titre,lieu,dateDeb,dateFin)">
                <input type="button" class="btn btn-danger"  value="Reset" >
                </div>  
            </form>
             
        </div>
    </div>
</div>
