<h1>Meeting List</h1>

<div *ngFor="let meeting of Meetings">
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Titre {{ meeting.titre }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Lieu {{ meeting.lieu }}</h6>
      <p class="card-text">{{meeting.dateDeb}} </p>
      <input type="button" class="btn btn-info" value="Editer" >
      <input type="button" class="btn btn-danger" value="delete" (click)="deleteMeeting(i)">
      <input type="button" class="btn btn-primary" value="Details">
      


    </div>
</div>
</div>

  